SECRET_KEY=django-insecure-^27!dnd+m=b%*8gt9mzk%p1toftvqtz^wu73u1_e%i3hc&zc
DEBUG=True
ALLOWED_HOSTS=*
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
SETTINGS_MODULE=example