{% extends "index.html" %}
{% load static %}
{% block head_css %}
    <link rel="stylesheet" href="{% static 'style/sales.css' %}">
{% endblock head_css %}
{% block title %} Ventas {% endblock title %}

{% block head_js %}
{% comment %} <link rel="stylesheet" href="{% static 'autocomplete_light/select2.css' %}">

<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
<script src="{% static 'autocomplete_light/select2.js' %}"></script> {% endcomment %}
{% endblock head_js %}


{% block content %}

    <section id="sales-section">
        <div class="form-container">
            <form action="{% url 'sale-detail-create' %}" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="error-message">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {{ form.as_p }}
                <button type="submit">Agregar</button>
            </form>

        </div>
        <div class="table-container">

            <table class="responsive-table scroll">

                <thead>

                <tr class="table-header">

                    <th>Cant.</th>

                    <th>Producto</th>

                    <th>Precio Unit.</th>

                    <th>Subtotal</th>

                    <th>Acciones</th>

                </tr>

                </thead>

                <tbody>

                    {% if sale.details.all %}
                        {% for detail in sale.details.all %}
                        <tr>
                            <td>{{ detail.quantity }}</td>
                            <td>{{ detail.product.name }}</td>
                            <td>${{ detail.sale_price }}</td>
                            <td>${{ detail.get_total_price }}</td>
                            <td><a href="{% url 'sale-detail-delete' detail.id %}">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">No hay productos en la venta</td>
                        </tr>
                    {% endif %}
                </tbody>

            </table>

        </div>

    </div>

    </section>
{% endblock content %}

{% block body_scripts %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
{% endblock body_scripts %}
