{% load static %}
<!DOCTYPE html>

{% load livereload_tags %}
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Los Baguales - Punto de Venta</title>
        {% if django_debug %}
            {% livereload_script %}
        {% endif %}
        <link
            rel="icon"
            type="image/x-icon"
            href="{% static 'images/logo.ico' %}"
        />
        <link rel="stylesheet" href="{% static 'style/navbar.css' %}" />
        {% block head_css %}{% endblock %}
        {% block head_js %}{% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            <div class="nav-wrapper">
                <div class="grad-bar"></div>
                <nav class="navbar">
                    <img
                        src="{% static 'images/banner2.png' %}"
                        alt="Company Logo"
                    />
                    <div class="menu-toggle" id="mobile-menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href= {% url 'sales' %}>Ventas</a></li>
                        <li class="nav-item"><a href= {% url 'records' %}>Registros</a></li>
                        <li class="nav-item"><a href= {% url 'inventory' %}>Inventario</a></li>
                        <li class="nav-item"><a href= {% url 'administration' %}>Administración</a></li>
                        <form action="{% url 'logout' %}" method="post" id="logout-form">
                            {% csrf_token %}
                            <button type="submit" title="Cerrar Sesión" class="logout-btn">
                                <img src="{% static 'images/logout.png' %}" alt="Logout">
                            </button>
                            <li class="nav-item" id="logout-text"><a href=#>Cerrar Sesión</a></li>
                        </form>
                    </ul>
                </nav>
            </div>


            {% block content %}{% endblock %}

        </div>

        {% block out-wrapper %}{% endblock %}

        <footer></footer>
        
        
        <script src="{% static 'js/navbar.js' %}"> </script>

        {% block body_scripts %}{% endblock %}
    </body>
</html>
