{% extends "administration.html" %}

{% load static %}

{% block head_admin_css %}
<link rel="stylesheet" href="{% static 'style/admin_forms.css' %}">
{% endblock head_admin_css %}

{% block new_object_button_label %}Nueva Marca{% endblock new_object_button_label %}

{% block table_head %}
    <tr>
        <th>Nombre</th>
        <th>Proveedor</th>
        <th>Logo</th>
        <th>Acciones</th>
    </tr>
{% endblock table_head %}

{% block table_body %}
    {% if brands %}
        {% for brand in brands %}
            <tr>
                <td>{{ brand.name }}</td>
                <td>{{ brand.supplier.name }}</td>
                <td>
                    {% if brand.logo %}
                        <img src="{{ brand.logo.url }}" alt="Logo">
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <button class="edit-btn" data-object-id="{{ brand.id }}" type="button" title="Editar">
                        <img src="{% static 'icons/edit.svg' %}" width="20" height="20" alt="Edit">
                    </button>
                    <button class="delete-btn" data-object-id="{{ brand.id }}" type="button" title="Eliminar">
                        <img src="{% static 'icons/delete.svg' %}" width="20" height="20" alt="Delete">
                    </button>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">No hay marcas registradas</td>
        </tr>
    {% endif %}
{% endblock table_body %}

{% block body_scripts %}

<script type="module" src="{% static 'js/admin/brand_admin.js' %}"></script>

{% endblock body_scripts %}