{% extends "client_index.html" %}

{% load static %}

{% block head_css %}
    {{ block.super }}
<link rel="stylesheet" href="{% static 'style/client_list.css' %}">
<link rel="stylesheet" href="{% static 'style/admin_forms.css' %}">
{% endblock head_css %}

{% block new_object_button %}

<div class="new-object-container">
    <button id="new-object-button">
        Crea cliente
    </button>
</div>

{% endblock new_object_button %}

{% block table_head %}
<tr>
    <th>Nombre</th>
    <th>D.N.I.</th>
    <th>C.U.I.T.</th>
    <th> CC Aprobada </th>
    <th> Balance en CC </th>
    <th>Acciones</th>
</tr>
{% endblock table_head %}

{% block table_body %}
    {% if clients %}
        {% for client in clients %}
            <tr {% if client.is_deleted %} class="deleted_client" {% endif %}>
                <td>
                    {{ client.get_full_name }}
                </td>
                <td>{{ client.dni }}</td>
                <td>{{ client.cuit }}</td>
                <td><input type="checkbox" {% if client.approved_customer_account %} checked {% endif %} disabled></td>
                <td>
                    <a href="{% url 'customer_account_detail' client.customer_account.id %}" title="Ver detalle de Cuenta Corriente">
                        ${{ client.customer_account.get_balance|floatformat:2 }}
                    </a>
                </td>
                {% if not client.is_deleted %}
                <td>
                    <button class="view-btn" data-url="{% url 'client_detail' client.id %}" type="button">
                        <img src="{% static 'icons/show.svg' %}" alt="Ver detalles" width="20" height="20">
                    </button>
                    <button class="edit-btn" data-object-id="{{ client.id }}" type="button">
                        <img src="{% static 'icons/edit.svg' %}" alt="Editar" width="20" height="20">
                    </button>
                    <button class="delete-btn client-action" data-action="delete" data-object-id="{{ client.id }}">
                        <img src="{% static 'icons/delete.svg' %}" alt="Eliminar" width="20" height="20">
                    </button>
                </td>
                {% else %}
                <td>
                    <button class="restore-btn client-action" data-action="restore" data-object-id="{{ client.id }}">
                        <img src="{% static 'icons/restore.svg' %}" alt="Restaurar" width="20" height="20">
                    </button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">No hay Clientes registrados</td>
        </tr>
    {% endif %}
{% endblock table_body %}

{% block body_scripts %}

<script type="module" src="{% static 'js/clients_list.js' %}"></script>

{% endblock body_scripts %}