{% extends 'index.html' %}

{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'style/modal.css' %}">
<link rel="stylesheet" href="{% static 'style/table.css' %}">
<link rel="stylesheet" href="{% static 'style/pagination.css' %}">
{% endblock head_css %}

{% block content %}

<div class="client-wrapper">

    <!-- Contenido específico de cada sub-tab -->
    <div class="client-content">
        <section id="client-section">

            
            {% block new_object_button %}
            {% endblock new_object_button %}
        
            <div class="table-container">
                <table class="responsive-table scroll">
                    <thead>
                        {% block table_head %}{% endblock table_head %}
                    </thead>
                    <tbody>
                        {% block table_body %}{% endblock table_body %}
                    </tbody>
                </table>
            </div>


        </section>
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&lt;&lt;</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
        {% endif %}
        </span>
    </div>
    {% endif %}
</div>

{% endblock content %}
