{% extends "index.html" %}

{% load static %}

{% block head_css %}
    {{ block.super }}
<link rel="stylesheet" href="{% static 'style/client_detail.css' %}">
{% endblock head_css %}

{% block content %}
<div class="client-detail-container">
    <h1>Detalle del Cliente: {{ client.get_full_name }}</h1>
    <div class="client-info">
        <p><strong>D.N.I.:</strong> {{ client.dni }}</p>
        <p><strong>C.U.I.T.:</strong> {{ client.cuit }}</p>
        <p><strong>Teléfono:</strong> {{ client.phone }}</p>
        <p><strong>Email:</strong> {{ client.email }}</p>
        <p><strong>Dirección:</strong> {{ client.address }}</p>
        <p><strong>Codigo Postal:</strong> {{ client.postal_code }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ client.birth_date|date:"d/m/Y"|default:"No Registrado." }}</p>
        <p><strong>Facturación preferida:</strong> {{ client.get_chosen_billing_type_display }}</p>
        <p><strong>Fecha de Registro:</strong> {{ client.created_at|date:"d/m/Y H:i" }}</p>
        <p><strong>Fecha de última Actualización:</strong> {{ client.updated_at|date:"d/m/Y H:i" }}</p>
        <p><strong>Estado:</strong> {% if client.is_deleted %} Eliminado {% else %} Activo {% endif %}</p>
        
        <p><strong>Cuenta Corriente Aprobada:</strong>
            <input type="checkbox" {% if client.approved_customer_account %} checked {% endif %} disabled>
        </p>
        <p><strong>Balance en Cuenta Corriente:</strong>
            <a href="{% url 'customer_account_detail' client.customer_account.id %}" title="Ver detalle de Cuenta Corriente">
                ${{ client.customer_account.get_balance|floatformat:2 }}
            </a>
        </p>
    </div>
        {% if not client.is_deleted %}

            <button class="edit-btn" data-object-id="{{ client.id }}" type="button" title="Editar">
                <img src="{% static 'icons/edit.svg' %}" width="20" height="20" alt="Edit">
            </button>
            <button class="delete-btn client-action" data-action="delete" data-object-id="{{ client.id }}" title="Eliminar">
                <img src="{% static 'icons/delete.svg' %}" width="20" height="20" alt="Delete">
            </button>
        {% else %}
            <button class="restore-btn client-action" data-action="restore" data-object-id="{{ client.id }}" title="Restaurar">
                <img src="{% static 'icons/restore.svg' %}" width="20" height="20" alt="Restore">
            </button>
        {% endif %}
</div>
{% endblock content %}

{% block body_scripts %}
    <script type='module' src="{% static 'js/client_detail.js' %}"></script>
{% endblock body_scripts %}