{% extends 'client_index.html' %}

{% block content %}
<div id="client-section">
    <div class="client-wrapper">
        <div class="client-subnav">
            <ul>
                <li><a href="{% url 'clients' %}">Clientes</a></li>
                <li><a href="{% url 'current_account_cc_list' movement.current_account.pk %}">Cuenta Corriente</a></li>
                <li class="active"><a href="#">Detalle Movimiento</a></li>
            </ul>
        </div>
        <div class="client-content">
            <h2>Detalle de movimiento</h2>
            <ul>
                <li><b>Fecha:</b> {{ movement.created_at|date:'d/m/Y H:i' }}</li>
                <li><b>Tipo:</b> {{ movement.get_movement_type_display }}</li>
                <li><b>Monto:</b> {{ movement.amount }}</li>
                <li><b>Notas:</b> {{ movement.notes|default:'-' }}</li>
                <li><b>Referencia:</b> {{ movement.reference|default:'-' }}</li>
                <li><b>Creado por:</b> {{ movement.created_by|default:'-' }}</li>
                <li><b>Cuenta Corriente:</b> {{ movement.current_account }}</li>
            </ul>
            <a href="{% url 'current_account_cc_list' movement.current_account.pk %}" class="edit-btn">Volver a movimientos</a>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/style/client.css">
{% endblock %} 