.table-container {
    flex: 1;
    min-height: 0px;
    width: 100%;
}

#client-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    max-height: 80vh;
    width: 100%;
    overflow-y: auto;
    margin: 0 auto;
    padding: 20px 0;
}

#new-object-button {
    background: linear-gradient(145deg, #D4A017, #FFC107);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    font-size: 0.8rem;
}

.client-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 5px;
}

.client-subnav {
    border-bottom: 2px solid #eee;
    overflow: visible;
}

.client-subnav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.client-subnav li {
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    background-color: #fffbf0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin: 5px;
    text-align: center;
    font-size: 0.9em;

}

.client-subnav li a {
    text-decoration: none;
    color: #5a5a5a;
    font-weight: 500;
}

.client-subnav li.active {
    background: linear-gradient(145deg, #e6d6a7, #FFC107);
    /* Gradiente dorado suavizado */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.client-subnav li.active a {
    color: #2c2c2c;
    font-weight: 550;
}

.client-subnav li:not(.active):hover {
    background: rgba(255, 251, 240, 0.7);
    transform: translateY(-1px);
}

.client-content {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    padding: 15px;

}

.deleted_client {
    opacity: 0.6;
    color: red;
}

@media (max-width: 768px) {
    .client-subnav li {
        padding: 6px 12px;
        min-width: 100px;
    }
}

@media (max-width: 480px) {
    .client-subnav ul {
        gap: 5px;
    }

    .client-subnav li {
        min-width: auto;
        padding: 6px 10px;
        font-size: 0.85em;
    }
}