:root {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #D4A017;
    --clr-alpha: #9c9c9c60;
    --img-bg-color: #fffbf0;
}




nav {
    background-color: #f0f0f0;
    gap: 10px;

}

nav a {
    margin-right: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
}

.index-header {
    width: 100%;
    height: 10vh;
    background-color: var(--img-bg-color);
    padding: 0 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.index-header img {
    width: 12%;
    height: 100%;
    object-fit: contain;
    object-position: initial;
}

#sales-section {
    background-color: #e0f7fa;
}

#records_section {
    background-color: #e0f7fa;
}

#inventory_section {
    background-color: #fff3e0;
}

#administration-section {
    background-color: #fce4ec;
}

.tabs {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-buttons {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    margin: 10px auto;
    gap: 5px;
}

.tab-button {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #333;
    flex-grow: 1;
    text-align: center;
}

.tab-button.active {
    background-color: #fff;
    border-color: #ccc;
    border-bottom-color: #fff;
    font-weight: bold;
}

.tab-button:hover {
    background-color: #e0e0e0;
}