.table-container {
    flex: 1;
    min-height: 0px;
    width: 100%;
}

#inventory_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100%;
}