* {
    scrollbar-width: 0;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #ddd;
    border: 4px solid #fff;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: flex;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
}

#modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-container {
    max-height: 90vh;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffbf0;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 600px) {
        width: 90%;
    }
}

.modal-container-header {
    padding: 16px 32px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-container-title {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 1;
    font-weight: 700;
    font-size: 1.125;
}

.modal-container-body {
    padding: 24px 32px 51px;
    overflow-y: auto;
}


.modal-container-footer {
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
    gap: 12px;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: -51px;
        left: 24px;
        right: 24px;
        height: 50px;
        flex-shrink: 0;
    }
}

.button {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: transparent;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s ease;

    &.is-ghost {

        &:hover,
        &:focus {
            background-color: #dfdad7;
        }
    }

    &.is-primary {
        background-color: #750550;
        color: #fff;

        &:hover,
        &:focus {
            background-color: #4a0433;
        }
    }
}

.icon-button {
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.15s ease;

    svg {
        width: 24px;
        height: 24px;
    }

    &:hover,
    &:focus {
        background-color: #dfdad7;
    }
}