#sales-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

#product-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#id_quantity {
    width: 50px;
    height: 30px;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    font-size: 12px;
    width: 100vh;
    table-layout: fixed;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
    min-height: 400px;
}

.scroll tr {
    display: flex;
    height: 30px;
}

.scroll td,
.scroll th {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.scroll thead tr:after {
    overflow-y: scroll;
    visibility: hidden;
    height: 0;
}

.scroll tbody {
    display: block;
    overflow-y: auto;
    height: 100%;
}

.table-header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.eliminar-sale-detail {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #d9534f;
}

.eliminar-sale-detail:hover {
    color: #c9302c;
}

.editable-cell {
    cursor: pointer;
    /* Indica que la celda es interactiva */
}

.editable-cell input[type="number"] {
    width: 100%;
    padding: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.editable-cell input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}