#sales-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

#product-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#id_quantity {
    width: 50px;
    height: 30px;
}


.eliminar-sale-detail {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #d9534f;
}

.eliminar-sale-detail:hover {
    color: #c9302c;
}

.editable-cell {
    cursor: pointer;
    /* Indica que la celda es interactiva */
}

.editable-cell input[type="number"] {
    width: 100%;
    padding: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.editable-cell input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#total-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#total-value {
    font-weight: bold;
    font-size: 18px;
    padding-right: 5px;
}