<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Baguales - Punto de Venta</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}" >
    <link rel="stylesheet" href="{% static 'style/index.css' %}" >
    {% block head_css %}{% endblock %}

    {% block head_js %}{% endblock %}    
    
</head>
<body>
    <div class="tabs">
        <div class="tab-buttons">
            <a href="{% url 'sales' %}" class="tab-button {% if request.path == '/ventas/' %}active{% endif %}"> Venta </a>
            <a href="{% url 'records' %}" class="tab-button {% if request.path == '/registros/' %}active{% endif %}"> Registros </a>
            <a href="{% url 'inventory' %}" class="tab-button {% if request.path == '/inventario/' %}active{% endif %}"> Inventario </a>
            <a href="{% url 'administration' %}" class="tab-button {% if request.path == '/administracion/' %}active{% endif %}"> Administración </a>
        </div>

        <div id="sales-tab" class="tab-content {% if request.path == '/ventas/' %}active{% endif %}">

            {% block sales %}{% endblock %}

        </div>
        
        <div id="record-tab" class="tab-content {% if request.path == '/registros/' %}active{% endif %}">

            {% block sale_records %}{% endblock %}

        </div>
        
        <div id="inventory-tab" class="tab-content {% if request.path == '/inventario/' %}active{% endif %}">

            {% block inventory %}{% endblock %}

        </div>


        <div id="admin-tab" class="tab-content {% if request.path == '/administracion/' %}active{% endif %}">
            
            {% block admin %}{% endblock %}
            
        </div>
        
    </div>
    
    {% block body_scripts %}{% endblock %}
    
</body>
</html>